name: Docker Build and Push 
 
on:
  push: 
    branches:   
      - main 
  pull_request:   
    branches:
      - main 

jobs:
  build-and-deploy:
    runs-on: self-hosted

    env:
      DOCKER_USERNAME: thatchayaini123
      IMAGE_NAME: dockerhub1demo
      TAG: latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Run Custom Script
        run: bash home/bsetec/jun20/dockerhub1demo/buildpush.sh






















